.right-button {
	float: right;
}
input.read-only {
	background-color: #F6F6F6;
}	
.ftws_extension_container{
	padding-right: 30px;
	padding-left: 10px;
	margin-top: 10px;
	text-align: center;
}
.ftws_extension { 
	
}
.get-now {
	margin-bottom: 10px;
}
.ftws_extension_item {
	margin-right: 10px;
	padding: 20px 20px 20px 20px;
	background-color: #FAFAFA;
	border: 1px solid;
	border-color: #DDD;
	
}
.ftws_extension_item h4 {
	margin: 0.6em 0;	
}
.ftws_extension_item img {
	max-width: 100%;
	max-height: 100%;
}
'
. '.fetch_tweets_multiple_columns {
	padding: 4px;
	line-height: 1.5em;
}
.fetch_tweets_multiple_columns_first_col {
	margin-left: 0px;
	clear: left;
}
/*  SECTIONS  ============================================================================= */
.fetch_tweets_multiple_columns_row {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  GROUPING  ============================================================================= */
.fetch_tweets_multiple_columns_box:before,
.fetch_tweets_multiple_columns_box:after {
	content:"";
	display:table;
}
.fetch_tweets_multiple_columns_box:after {
	clear:both;
}
.fetch_tweets_multiple_columns_box {
	float: none;
	width: 100%;		
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/*  GRID COLUMN SETUP   ==================================================================== */
.fetch_tweets_multiple_columns_col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.fetch_tweets_multiple_columns_col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 800 PIXELS */
@media only screen and (max-width: 800px) {
	.fetch_tweets_multiple_columns_col { 
		margin: 1% 0 1% 0%;
	}
}
/*  GRID OF TWO   ============================================================================= */
.ftws_col_element_of_1 {
	width: 100%;
}
.ftws_col_element_of_2 {
	width: 49.2%;
}
.ftws_col_element_of_3 {
	width: 32.2%; 
}
.ftws_col_element_of_4 {
	width: 23.8%;
}
.ftws_col_element_of_5 {
	width: 18.72%;
}
.ftws_col_element_of_6 {
	width: 15.33%;
}
.ftws_col_element_of_7 {
	width: 12.91%;
}
.ftws_col_element_of_8 {
	width: 11.1%; 
}
.ftws_col_element_of_9 {
	width: 9.68%; 
}
.ftws_col_element_of_10 {
	width: 8.56%; 
}
.ftws_col_element_of_11 {
	width: 7.63%; 
}
.ftws_col_element_of_12 {
	width: 6.86%; 
}

/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
	.ftws_col_element_of_2,
	.ftws_col_element_of_3,
	.ftws_col_element_of_4,
	.ftws_col_element_of_5,
	.ftws_col_element_of_6,
	.ftws_col_element_of_7,
	.ftws_col_element_of_8,
	.ftws_col_element_of_9,
	.ftws_col_element_of_10,
	.ftws_col_element_of_11,
	.ftws_col_element_of_12
	{	width: 49.2%;  }			
}